@media (max-width:992px) {
    /***************************************/
    /******** Sección propósito ************/
    /***************************************/

    .seccion-proposito {
        background-size: cover;
        text-align: center;
    }
}

@media (max-width:768px) {
    .seccion-proposito .inferior p {
        font-size: 22pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width:576px) {
    .seccion-proposito .inferior p {
        font-size: 23pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 480px) {
    .seccion-proposito .inferior p {
        font-size: 20pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:425px) {
    .seccion-proposito .inferior p {
        font-size: 18pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    /***************************************/
    /********** Sección principios *********/
    /***************************************/

    .seccion-principios .d-flex:last-child {
        justify-content: left !important;
    }

    .seccion-principios .card {
        width: 157px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .seccion-principios .card .card-body {
        padding: 10px !important;
    }

    .seccion-principios .d-flex {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .seccion-principios .card .card-header {
        height: 82px;
    }

    .seccion-principios .card .card-header img {
        height: 50px !important;
    }
}

@media(max-width:393px) {

    .seccion-proposito .inferior p {
        font-size: 20pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    /***************************************/
    /********** Sección principios *********/
    /***************************************/

    .seccion-principios .d-flex {
        justify-content: left !important;
    }

    .seccion-principios .card {
        width: 157px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .seccion-principios .card .card-body {
        padding: 10px !important;
    }

    .seccion-principios .d-flex {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .seccion-principios .card .card-header {
        height: 82px;
    }

    .seccion-principios .card .card-header img {
        height: 50px !important;
    }
}

@media (max-width: 375px) {
    /***************************************/
    /******** Sección propósito ************/
    /***************************************/

    .seccion-proposito {
        background-size: cover;
        text-align: center;
        padding: 10px 15px !important;
    }

    /*Hojitas */
    .seccion-proposito .superior img {
        height: 50px;
    }

    .seccion-proposito .inferior p {
        font-size: 18pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    /***************************************/
    /********** Sección principios *********/
    /***************************************/

    .seccion-principios .d-flex {
        justify-content: left !important;
    }

    .seccion-principios .card {
        width: 157px !important;
        margin-right: 15px !important;
        margin-left: 15px !important;
    }

    .seccion-principios .card .card-body {
        padding: 10px !important;
    }

    .seccion-principios .d-flex {
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }

    .seccion-principios .card .card-header {
        height: 82px;
    }

    .seccion-principios .card .card-header img {
        height: 50px !important;
    }
}