@media (max-width:992px) {
    /***************************************/
    /******** Sección propósito ************/
    /***************************************/

    .seccion-proposito {
        background-size: cover;
        text-align: center;
    }
}

@media (max-width:768px) {
    .seccion-proposito .inferior p {
        font-size: 22pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width:576px) {
    .seccion-proposito .inferior p {
        font-size: 23pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 480px) {
    .seccion-proposito .inferior p {
        font-size: 20pt !important;
        width: 100% !important;
        margin-bottom: 114px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:425px) {
    .seccion-proposito .inferior p {
        font-size: 18pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media(max-width:393px) {

    .seccion-proposito .inferior p {
        font-size: 20pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 375px) {
    /***************************************/
    /******** Sección propósito ************/
    /***************************************/

    .seccion-proposito {
        background-size: cover;
        text-align: center;
        padding: 10px 15px !important;
    }

    /*Hojitas */
    .seccion-proposito .superior img {
        height: 50px;
    }

    .seccion-proposito .inferior p {
        font-size: 18pt !important;
        width: 100% !important;
        margin-bottom: 164px !important;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }
}