/*************************************/
/********** General Styles ***********/
/*************************************/
:root {
    --color-integridad: #e0e0f4 !important;
    --color-respeto: #ffe3cb !important;
    --color-excelencia: #fff7de !important;
    --color-adaptacion: #e7f9c5 !important;
    --color-pasion: #ffe6e1 !important;
}


.navbar {
    /*Background negro-transparente*/
    background-color: white !important;
    /*Sobreponerse a otros objetos*/
    z-index: 999;

}

.navbar ul li a {
    color: black !important;
}

.navbar ul li .btn-dominus {
    color: white !important;
}

/*************************************/
/******** seccion proposito **********/
/*************************************/

.seccion-proposito {
    background-image: url('../images/proposito.jpg');
    background-position: top;
    height: 1073px !important;
}

/*Hojitas */
.seccion-proposito .superior img {
    width: 80px !important;
    height: 47px !important;
}


/*Texto cultivamos el futuro*/
.seccion-proposito .superior p {
    font-weight: 500;
    font-size: 48px;
    line-height: 53px;
    word-spacing: 0%;
}

.seccion-proposito .superior p span {

    color: var(--color-dominus-green-light);
}

/*Texto proposito*/
.seccion-proposito .inferior {
    margin-top: -50px !important;
}

.seccion-proposito .inferior p {
    width: 736px;
    height: 116px;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;

}

/*Overlay (Zona oscura inferior)*/
.overlay-bottom {
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), transparent);
}

/*************************************/
/******** seccion principios **********/
/*************************************/
.seccion-principios .texto-inicial {
    margin-top: 70px;
}

.seccion-principios .card {
    width: 192px !important;
    height: 220px !important;
    margin-right: 45px !important;
}

.seccion-principios .cards {
    margin-bottom: 70px;
}

.seccion-principios .card .card-header {
    height: 84px;
}

.seccion-principios .card .card-body p:first-child {
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 20px !important;
    width: 153.6px;
    height: 40px;
}

.seccion-principios .card .card-body p:last-child {
    font-weight: 400 !important;
    font-size: 14px !important;
}


.seccion-principios .card .card-header img {
    width: 102px !important;
    height: 80px !important;
}


.seccion-principios .card:nth-child(2),
.seccion-principios .card:nth-child(4) {
    top: 23px !important;
}

.seccion-principios .card:nth-child(1),
.seccion-principios .card:nth-child(3),
.seccion-principios .card:nth-child(5) {
    margin-bottom: 23px !important;
}

.card-integridad {
    background-color: var(--color-integridad);
}

.card-respeto {
    background-color: var(--color-respeto);
}

.card-excelencia {
    background-color: var(--color-excelencia);
}

.card-adaptacion {
    background-color: var(--color-adaptacion);
}

.card-pasion {
    background-color: var(--color-pasion);
}

/*************************************/
/******** seccion carrusel **********/
/*************************************/
