@media(max-width:992px) {
    .carousel-caption div p {
        font-size: 30pt;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 50px;
        transition: 0.3s ease-in-out;
    }

    .btn-dominus-carousel {
        color: var(--color-dominus-green-dark);
        font-size: 13pt !important;
        background-color: white;
        border: solid 1 px var(--color-dominus-green-dark);
        width: 250px;
        height: 45px;
        transition: 0.3s ease-in-out;
    }

    .producto-tag .badge {
        transition: 0.3s ease-in-out;
        width: 120px;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 135px !important;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div,
    .seccion-importacion .row div {
        width: 50% !important;
        transition: 0.3s ease-in-out;
        font-size: 15pt !important;
    }

    .seccion-mango-izquierda {
        padding-left: 10px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .seccion-calidad-izquierda {
        padding-left: 10px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion-izquierda,
    .seccion-importacion-derecha {
        width: 50% !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -364px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
        margin: 0 20px 0 20px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
        margin: 0 20px 0 20px;
    }

}

@media (max-width:768px) {
    .carousel-caption div p {
        font-size: 28pt !important;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 50px !important;
        transition: 0.3s ease-in-out;
    }

    .btn-dominus-carousel {
        color: var(--color-dominus-green-dark);
        font-size: 11pt !important;
        background-color: white;
        border: solid 1 px var(--color-dominus-green-dark);
        width: 200px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 95px !important;
    }

    .contenedor-producto {
        height: 121px;
        transition: 0.3s ease-in-out;
    }

    .producto-tag .badge {
        transition: 0.3s ease-in-out;
        width: 100px;
    }

    /*******************************Sección frases********************************/

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div,
    .seccion-importacion .row div {
        width: 50% !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 15pt !important;
        }

        a {
            font-size: 15pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -122px !important;
    }

    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion-izquierda,
    .seccion-importacion-derecha {
        width: 50% !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;
    }

    .seccion-importacion .seccion-importacion-izquierda p:first-child {
        color: var(--color-producto-fresco) !important;
        font-weight: 400;
        font-size: 23pt !important;

    }

    /*Texto de la segunda etiqueta p*/
    .seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {

        font-weight: 400;
        font-size: 23pt !important;
    }

    /*Estilo del enlace */
    .seccion-importacion .seccion-importacion-izquierda a {
        margin-top: 23px;
        font-size: 20px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -324px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
        margin: 0 10px 0 10px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
        margin: 0 10px 0 10px;
    }
}

@media (max-width:576px) {
    .carousel-caption div p {
        font-size: 20pt !important;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 35px !important;
        transition: 0.3s ease-in-out;
    }

    .seccion-productos div .row div {
        width: 140px;
        transition: 0.3s ease-in-out;
    }

    .seccion-productos .container .row {
        transition: 0.3s ease-in-out;
        justify-content: space-between;
    }

    .card .card-body {
        transition: 0.3s ease-in-out;
        padding: 0 !important;
        padding-bottom: 20px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3s ease-in-out;
        margin-right: 10px;
        align-content: center;
        justify-content: center;
    }

    .producto-tag .badge {
        width: 100px;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
            width: auto !important;
        }

        a {
            font-size: 12pt !important;
            text-align: center;
            width: auto !important;

        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -291px !important;
    }


    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion .seccion-importacion-izquierda p:first-child {
        color: var(--color-producto-fresco) !important;
        font-weight: 400;
        font-size: 17pt !important;
        text-align: center;
    }

    /*Texto de la segunda etiqueta p*/
    .seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {

        font-weight: 400;
        font-size: 20pt !important;
        text-align: center;
    }

    /*Estilo del enlace */
    .seccion-importacion .seccion-importacion-izquierda a {
        margin-top: 23px;
        font-size: 18px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -364px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
        text-align: center;
        margin: 0 10px 0 10px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
        text-align: center;
        margin: 0 10px 0 10px;
    }
}

/* Teléfonos medianos (hasta 480px) */
@media (max-width: 480px) {

    /* Estilos para dispositivos pequeños como iPhone SE */
    .seccion-productos {
        padding: 0 !important;
        padding-top: 30px !important;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 77px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3sease -in-out;
        margin-right: 28px;
        align-content: center;
        justify-content: center;
        width: 167px;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 14pt !important;
        }

        a {
            font-size: 14pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px !important;
    }

    /******* MAPA *******/
    .map-container {
        height: 330px !important;
    }

    .dropdown button {
        font-size: 8pt !important;
        padding: 3px !important;
        padding-left: 7px !important;
        padding-right: 7px !important;

    }

    .dropdown-menu {
        padding: 0 !important;
        height: 80px !important;
        --bs-dropdown-min-width: 6rem;
        transition: 0.3s ease-in-out;

    }

    .dropdown-menu li {
        font-size: 8pt !important;
        --bs-dropdown-min-width: 6rem;
    }

    .south-america {
        bottom: 27% !important;
        left: 2% !important;
    }

    .central-america {
        top: 43% !important;
        left: 22% !important;
    }

    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion .seccion-importacion-izquierda p:first-child {
        color: var(--color-producto-fresco) !important;
        font-weight: 400;
        font-size: 17pt !important;
        text-align: center;


    }

    /*Texto de la segunda etiqueta p*/
    .seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {

        font-weight: 400;
        font-size: 20pt !important;
        text-align: center;
    }

    /*Estilo del enlace */
    .seccion-importacion .seccion-importacion-izquierda a {
        margin-top: 23px;
        font-size: 18px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -381px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
    }
}

@media(max-width:425px) {

    .seccion-plantas .seccion-plantas-izquierda p,
    .seccion-plantas .seccion-plantas-izquierda a {
        width: auto !important;
    }

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
        }

        a {
            font-size: 12pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px !important;
    }

    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion .seccion-importacion-izquierda p:first-child {
        color: var(--color-producto-fresco) !important;
        font-weight: 400;
        font-size: 17pt !important;
        text-align: center;


    }

    /*Texto de la segunda etiqueta p*/
    .seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {

        font-weight: 400;
        font-size: 20pt !important;
        text-align: center;
    }

    /*Estilo del enlace */
    .seccion-importacion .seccion-importacion-izquierda a {
        margin-top: 23px;
        font-size: 18px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -381px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
    }
}

@media(max-width:393px) {

    .seccion-plantas .seccion-plantas-izquierda p,
    .seccion-plantas .seccion-plantas-izquierda a {
        width: auto !important;
    }

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
        }

        a {
            font-size: 12pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px;
    }

    /***********************************************/
    /********* seccion frases 2 ********************/
    /***********************************************/

    .seccion-importacion .seccion-importacion-izquierda p:first-child {
        color: var(--color-producto-fresco) !important;
        font-weight: 400;
        font-size: 19pt !important;
        text-align: center;


    }

    /*Texto de la segunda etiqueta p*/
    .seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {

        font-weight: 400;
        font-size: pt !important;
        text-align: center;
    }

    /*Estilo del enlace */
    .seccion-importacion .seccion-importacion-izquierda a {
        margin-top: 23px;
        font-size: 18px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -381px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 23pt !important;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 14pt;
    }
}

/* Teléfonos pequeños (hasta 375px) */
@media (max-width: 375px) {

    /* Estilos para dispositivos pequeños como iPhone SE */
    .seccion-productos {
        padding: 0 !important;
        padding-top: 30px !important;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 77px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3sease -in-out;
        margin-right: 28px;
        align-content: center;
        justify-content: center;
        width: 132px;
    }

    /*******************************Sección frases********************************/


    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;
        padding: 17px !important;

        p {
            font-size: 13pt !important;
            width: 100% !important;
            text-align: center;
        }

        a {
            font-size: 10pt !important;
            width: 100% !important;
            margin-top: 10px !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px;
    }

    .seccion-vacantes .seccion-vacantes-derecha {
        background-position-x: -381px;
        border-bottom-right-radius: 45px;
    }

    .seccion-vacantes .seccion-vacantes-izquierda p {
        font-size: 20pt !important;
    }

    .seccion-vacantes .seccion-vacantes-izquierda a {
        font-size: 11pt !important;
        margin-top: 10px !important;
    }
}