@media(max-width:992px) {
    .carousel-caption div p {
        font-size: 30pt;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 50px;
        transition: 0.3s ease-in-out;
    }

    .btn-dominus-carousel {
        color: var(--color-dominus-green-dark);
        font-size: 13pt !important;
        background-color: white;
        border: solid 1 px var(--color-dominus-green-dark);
        width: 250px;
        height: 45px;
        transition: 0.3s ease-in-out;
    }

    .producto-tag .badge {
        transition: 0.3s ease-in-out;
        width: 120px;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 135px !important;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;
        font-size: 15pt !important;
    }

    .seccion-mango-izquierda {
        padding-left: 10px !important;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .seccion-calidad-izquierda {
        padding-left: 10px !important;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}

@media (max-width:768px) {
    .carousel-caption div p {
        font-size: 28pt !important;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 50px !important;
        transition: 0.3s ease-in-out;
    }

    .btn-dominus-carousel {
        color: var(--color-dominus-green-dark);
        font-size: 11pt !important;
        background-color: white;
        border: solid 1 px var(--color-dominus-green-dark);
        width: 200px;
        height: 35px;
        transition: 0.3s ease-in-out;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 95px !important;
    }

    .contenedor-producto {
        height: 121px;
        transition: 0.3s ease-in-out;
    }

    .producto-tag .badge {
        transition: 0.3s ease-in-out;
        width: 100px;
    }

    /*******************************Sección frases********************************/

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        height: 260px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 15pt !important;
        }

        a {
            font-size: 15pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -122px !important;
    }
}

@media (max-width:576px) {
    .carousel-caption div p {
        font-size: 20pt !important;
        font-weight: 400;
        color: white;
        text-align-last: start;
        line-height: 35px !important;
        transition: 0.3s ease-in-out;
    }

    .seccion-productos div .row div {
        width: 140px;
        transition: 0.3s ease-in-out;
    }

    .seccion-productos .container .row {
        transition: 0.3s ease-in-out;
        justify-content: space-between;
    }

    .card .card-body {
        transition: 0.3s ease-in-out;
        padding: 0 !important;
        padding-bottom: 20px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3s ease-in-out;
        margin-right: 10px;
        align-content: center;
        justify-content: center;
    }

    .producto-tag .badge {
        width: 100px;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
            width: auto !important;
        }

        a {
            font-size: 12pt !important;
            text-align: center;
            width: auto !important;

        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -291px !important;
    }
}

/* Teléfonos medianos (hasta 480px) */
@media (max-width: 480px) {

    /* Estilos para dispositivos pequeños como iPhone SE */
    .seccion-productos {
        padding: 0 !important;
        padding-top: 30px !important;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 77px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3sease -in-out;
        margin-right: 28px;
        align-content: center;
        justify-content: center;
        width: 167px;
    }

    /*******************************Sección frases********************************/
    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 14pt !important;
        }

        a {
            font-size: 14pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px !important;
    }
}

@media(max-width:425px) {

    .seccion-plantas .seccion-plantas-izquierda p,
    .seccion-plantas .seccion-plantas-izquierda a {
        width: auto !important;
    }

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
        }

        a {
            font-size: 12pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px !important;
    }
}

@media(max-width:393px) {

    .seccion-plantas .seccion-plantas-izquierda p,
    .seccion-plantas .seccion-plantas-izquierda a {
        width: auto !important;
    }

    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;

        p {
            font-size: 12pt !important;
        }

        a {
            font-size: 12pt !important;
        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px;
    }
}

/* Teléfonos pequeños (hasta 375px) */
@media (max-width: 375px) {

    /* Estilos para dispositivos pequeños como iPhone SE */
    .seccion-productos {
        padding: 0 !important;
        padding-top: 30px !important;
    }

    .contenedor-producto img {
        transition: 0.3s ease-in-out;
        height: 77px !important;
    }

    .seccion-productos .container .row div {
        transition: 0.3sease -in-out;
        margin-right: 28px;
        align-content: center;
        justify-content: center;
        width: 132px;
    }

    /*******************************Sección frases********************************/


    .seccion-mango .row div,
    .seccion-plantas .row div,
    .seccion-calidad .row div {
        width: 50% !important;
        max-width: 240px !important;
        height: 360px !important;
        transition: 0.3s ease-in-out;
        padding: 17px !important;

        p {
            font-size: 10pt !important;
            width: 100% !important;
        }

        a {
            font-size: 10pt !important;
            width: 100% !important;

        }
    }

    /*Alinear bien la imagen*/
    .seccion-calidad .seccion-calidad-derecha {
        background-position-x: -321px;
    }

}