/*****************************************************************/
/************************* Navbar distinto para index *************************/
/*****************************************************************/
.navbar {
    /*Background negro-transparente*/
    background: linear-gradient(to bottom, black, transparent);
    /*Sobreponerse a otros objetos*/
    z-index: 999;
}

.navbar-toggler-icon {
    filter: invert(100%);
    /* Invierte colores para hacer el ícono blanco */
}

.navbar-toggler {
    border-color: #fff !important;
    /* Cambia el color del borde a blanco */
}


/********** CAROUSEL****************/

.carousel {
    height: 100vh !important;
    margin-top: -75px !important;
}

.carousel-inner,
.carousel-item,
.carousel-item img {
    height: 100%;
    object-fit: cover;
    /* Para que las imágenes se adapten sin deformarse */
}

/*Alínea los controles a los botones ooo del slider.*/
.carousel-control-prev,
.carousel-control-next {
    margin-bottom: 11px !important;
}

.carousel-indicators button {
    border-radius: 100%;
    width: 5px !important;
    height: 5px !important;
}

.carousel-indicators button.active {
    background-color: #8bc53f !important;
}

/*Estilo de los textos del slider*/
.carousel-caption {
    top: 400px;
}

.carousel-caption div {
    width: 568px;
    height: 160.19px;
}

.carousel-caption div p {
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: 0%;
}

/*Estilos del botón del slider*/
.btn-dominus-carousel {
    margin-top: 20px;
    width: 256px;
    height: 48.06px;
    border-radius: 8px;
    background-color: #E7F9C5 !important;
    border-color: #E7F9C5 !important;
    color: var(--color-dominus-green-dark);
}

/*Estilos del botón del slider con el cursor encima*/
.btn-dominus-carousel:hover {
    background-color: var(--color-dominus-green-dark) !important;
    border-color: var(--color-dominus-green-dark) !important;
    color: white;
}

/* Reduce el brillo al 70% para que resalte el texto delantero.*/
.efecto-oscuro {
    filter: brightness(0.7);
}

* {
    border: solid 1px red;
}

/*****************************************************************/
/******************* Productos cultivados ************************/
/*****************************************************************/
.seccion-productos .card {
    background-image: url('../images/aspa.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 352px !important;
    height: 350px !important;
}

.contenedor-producto {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-producto img {
    height: 200px;
    width: auto;
}

.contenedor-producto img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

/*Etiqueta de producto congelado*/
.producto-tag span {
    width: 108px;
    height: 24px;
    border-radius: 4px;
    cursor: pointer;

}

.producto-tag-congelado {
    background-color: var(--color-producto-congelado);

    img {
        filter: brightness(2000);
    }
}

/*Etiqueta de producto fresco*/
.producto-tag-fresco {
    background-color: var(--color-producto-fresco);

    img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100);
    }
}

/*****************************************************************/
/********************* Fotos con textos **************************/
/*****************************************************************/

.seccion-frase {
    height: 592px !important;

}

.seccion-mango,
.seccion-calidad {
    background-color: var(--color-background-seccion) !important;
}



.seccion-mango .seccion-mango-derecha {
    background-image: url(../images/sectionmango.jpg);
    background-size: 186%;
    background-position-x: 1011px;
    background-position-y: -81px;
    border-top-right-radius: 45px;
}

.seccion-mango .seccion-mango-izquierda div {
    width: 352px;
    height: 84px;
    margin-left: 20px;
}

.seccion-mango .seccion-mango-izquierda div p {
    color: var(--color-dominus-green-dark) !important;
    font-weight: 400;
    font-size: 24px !important;
    line-height: 30px;
}

.seccion-mango .seccion-mango-izquierda div a {
    color: var(--color-producto-fresco) !important;
    font-weight: 700;
    size: 14px;
    line-height: 24px;
}

.seccion-plantas {
    background-color: var(--color-dominus-green-dark) !important;
}

.seccion-plantas .seccion-plantas-derecha {
    background-image: url("../images/compromisoambiental.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 45px;
}

.seccion-plantas .seccion-plantas-izquierda {
    background-color: var(--color-dominus-green-dark);
}

.seccion-plantas .seccion-plantas-izquierda img {
    height: 100%;
}

.seccion-plantas .seccion-plantas-izquierda a {
    color: var(--color-background-seccion) !important;
    font-size: 14px;

}

.seccion-plantas .seccion-plantas-izquierda p {
    color: white !important;
    width: 376px;
    height: 137px;
    font-size: 24px !important;
    line-height: 30px;

}

.seccion-calidad .seccion-calidad-derecha {
    background-image: url("../images/calidadgrande.jpg");
    background-size: cover;
    background-position: center;
    border-top-right-radius: 45px;

}

.seccion-calidad .seccion-calidad-izquierda p {
    color: var(--color-dominus-green-dark) !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
}

.seccion-calidad .seccion-calidad-izquierda a {
    color: var(--color-producto-fresco) !important;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;


}

/*****************************************************************/
/********************* Sección de certificaciones **************************/
/*****************************************************************/

.certificaciones .row {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    justify-content: center;

}

.certificaciones .row .card {
    width: 165px;
    height: 155px;

}

.certificaciones .row .card .card-header img {
    width: 60px !important;
    height: 60px !important;
}

/*****************************************************************/
/************************ Sección mapa ***************************/
/*****************************************************************/
.map-container {
    position: relative;
    padding: 0px 120px;
    width: 100%;

    aspect-ratio: 2 / 1;
    background-image: url(../images/mapa.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.dropdown {
    position: absolute;
    display: inline-block;
    text-align: center;
}

.dropdown button {
    font-size: 16px;
    color: #003300;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.dropdown button::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #003300;
    display: inline-block;
    margin-left: auto;
}


.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.dropdown-menu li {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #003300;
}

.dropdown-menu li img {
    width: 20px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.north-america {
    top: 20%;
    left: 20%;
}

.dropdown {
    position: absolute;
    display: inline-block;
    text-align: center;
}

.central-america {
    top: 40%;
    left: 30%;
}

.south-america {
    bottom: 15%;
    left: 30%;
}

.europe {
    top: 25%;
    left: 55%;
}

.asia {
    top: 30%;
    left: 75%;
}

/*****************************************************************/
/************************ Sección frases 2 *************************/
/*****************************************************************/

/*Imagen completa al lado derecho*/

.seccion-importacion .seccion-importacion-derecha {
    background-image: url("../images/sectionrepresentantes.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 45px;
}

/*Texto de la primera etiqueta p*/
.seccion-importacion .seccion-importacion-izquierda p:first-child {
    color: var(--color-producto-fresco) !important;
    font-weight: 400;
    font-size: 30pt !important;

}

/*Texto de la segunda etiqueta p*/
.seccion-importacion .seccion-importacion-izquierda p:nth-last-child(2) {
    color: var(--color-dominus-green-dark) !important;
    font-weight: 400;
    font-size: 25pt !important;
}

/*Estilo del enlace */
.seccion-importacion .seccion-importacion-izquierda a {
    margin-top: 22px;
    background-color: var(--color-producto-fresco) !important;
    font-size: 15pt !important;

}

.seccion-vacantes .seccion-vacantes-derecha {
    background-image: url("../images/seccionvacantes.jpg");
    background-size: cover;
    background-position: center;
    border-bottom-right-radius: 45px;

}

.seccion-vacantes .seccion-vacantes-izquierda p {
    color: var(--color-dominus-green-dark) !important;
    font-size: 23pt !important;
    margin: 0 40px 0 40px;
}

.seccion-vacantes .seccion-vacantes-izquierda a {
    background-color: var(--color-producto-fresco) !important;
    font-size: 18pt !important;
    margin: 30px 40px 0 40px;
}