/*Variables CSS.*/
:root {
  --color-dominus: #e63312;
  --color-dominus-dark: #97220D;
  --color-dominus-green-dark: #025125;
  --color-producto-congelado: #2d2d7c;
  --color-producto-fresco: #009b49;
  --color-background-seccion: #f7ffe8;

}

.text-dominus {
  color: var(--color-dominus);
}

.text-dominus-dark {
  color: var(--color-dominus-dark);
}

/******* navbar ******/
.navbar {
  /*Background negro-transparente*/
  background: linear-gradient(to bottom, black, transparent);
  /*Sobreponerse a otros objetos*/
  z-index: 999;

}

.navbar-brand img {
  height: 50px;
  /*Tamaño del logo*/
}

a.nav-link {
  font-size: 11pt;
  /*Tamaño delas  opciones del navbar*/
}

a.nav-link.text-white.active {
  font-weight: bold !important;
  /*Negrita para cuando estés en la página visitada*/
}

.navbar ul li {
  margin-left: 10px;
  /*Margin entre opciones del navbar*/
}

.btn-dominus {
  background-color: var(--color-dominus);
  color: white;
}

.btn-dominus:hover {
  background-color: var(--color-dominus-dark);
  color: white;

}

.navbar-toggler {
  border-color: #fff !important;
  /* Cambia el color del borde a blanco */
}

.navbar-toggler-icon {
  filter: invert(100%);
  /* Invierte colores para hacer el ícono blanco */
}

