/*Variables CSS y clases reutilizables.*/

:root {
  --color-dominus: #e63312;
  --color-dominus-dark: #97220D;
  --color-dominus-green-dark: #025125;
  --color-producto-congelado: #2d2d7c;
  --color-producto-fresco: #009b49;
  --color-background-seccion: #f7ffe8;
  --color-dominus-green-light: #e7f9c5;
}

/** {
  border: solid 1px red;
}*/

* * {
  font-family: 'Helvetica Neue', sans-serif;
}

/*Texto de bot칩n dominus */
.text-dominus {
  color: var(--color-dominus);
}

/*Texto de bot칩n dominus dark*/
.text-dominus-dark {
  color: var(--color-dominus-dark);
}

/* Reduce el brillo al 70% para que resalte el texto delantero.*/
.efecto-oscuro {
  filter: brightness(0.7);
}

/*Overlay (Zona oscura inferior)*/
.overlay-bottom {
  bottom: 0;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5), transparent);
}

/*Clase que tiene los atributos para pintar un div completamnete*/
.bg-imagen-fullscreen {
  background-position: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
}

/*******************************************/
/************** navbar *********************/
/*******************************************/

.navbar-brand img {
  height: 50px;
  /*Tama침o del logo*/
}

a.nav-link {
  font-size: 14px;
  /*Tama침o delas  opciones del navbar*/
}

a.nav-link.text-white.active {
  font-weight: bold !important;
  color: var(--color-producto-fresco) !important;
  text-decoration-line: underline;
}

.navbar ul li {
  margin-left: 10px;
  /*Margin entre opciones del navbar*/
}

.btn-dominus {
  background-color: var(--color-dominus);
  color: white;
}

.btn-dominus:hover {
  background-color: var(--color-dominus-dark);
  color: white;

}

/*******************************************/
/************** seccion footer **********/
/*******************************************/
footer {
  background: rgba(249, 250, 251, 1);
}

footer .logo-img {
  height: 110px !important;
  margin-right: 32px !important;
}

footer .superior {
  margin-bottom: 32px !important;
}


footer .inferior {
  margin-top: 24px !important;
  margin-bottom: 44px !important;
}